<%= form_for(@camera, :html => { :class => 'form-horizontal' }) do |f| %>
  <% if @camera.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <a class="close" data-dismiss="alert">×</a>
      <h2><%= pluralize(@camera.errors.count, "error") %> prohibited this camera from being saved:</h2>

      <ul>
      <% @camera.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
<fieldset>

  <div class="control-group">
    <%= f.label :url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :url %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :current_position, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :current_position %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :go_to_position, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :go_to_position %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>

</fieldset>

<% end %>
