<div class="page-header">
	<h1>Cameras</h1>
</div>

<div class="well">

<table class="table table-striped">
  <tr>
    <th>Description</th>
    <th>URL</th>
    <th>Current position</th>
    <th>Actions</th>
    
  </tr>

<% @cameras.each do |camera| %>
  <tr>
    <td><%= camera.description %></td>
    <td><%= camera.url %></td>
    <td><%= camera.current_position %></td>
    <td><%= link_to '<i class="icon-search"></i>'.html_safe, camera, :class => 'btn btn-mini btn-primary' %>
        <%= link_to '<i class="icon-file"></i>'.html_safe, edit_camera_path(camera), :class => 'btn btn-mini' %>
   <%= link_to '<i class="icon-remove"></i>'.html_safe, camera, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
     </td>
  </tr>
<% end %>
</table>

</div>

<div class="form-actions">
  <%= link_to 'New Camera', new_camera_path, :class => 'btn btn-primary' %>
</div>
