<div class="row-fluid">
  <div class="span3">
  
    <h3>Camera #<%= @camera.id %></h3>
    
    <div class="well">

    <p>
	  <b>Description</b>
	  <%= @camera.description %>
	</p>

    <p>
      <b>Current position:</b>
      <%= @camera.current_position %>
    </p>

    <p>
      <b>Go to position:</b>
      <%= @camera.go_to_position %>
    </p>

    </div>
  </div>

  <div class="span9">

    <!--<video width="640" height="480" controls>
      <source src= "192.168.1.103:8080/camera.mjpeg">
    </video>-->

    <%= image_tag(image_path(@camera.url),
    :alt => "Video for other Platform/OS") %>

    <p>
        <span class="badge">1</span>
        <span class="badge badge-success">2</span>
        <span class="badge">3</span>
        <span class="badge">4</span>
        <span class="badge">5</span>
    </p>
      
      <%= link_to '<i class="icon-arrow-left"></i>'.html_safe, translade_camera_path(@camera), :class => 'btn' %>
      <%= link_to '<i class="icon-arrow-right"></i>'.html_safe, translade_camera_path(@camera), :class => 'btn' %>
    </p>

  </div>
</div>

<div class="form-actions">
    <p>
      <%= link_to 'Edit', edit_camera_path(@camera), :class => 'btn btn-primary' , :style => 'color:#FFFFFF' %>
    </p> 
    <%= link_to 'Back', cameras_path %>
</div>
